@model IEnumerable<WebApplication1.ViewModel.RoomBookingViewModel>
 

<table style="width:100%">
    <thead>
        <tr>
            
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Phone
            </th>
            <th>
                Booking From
            </th>
            <th>
                Booking To
            </th>
            <th>
                Room
            </th>
            <th>
                Number of Members
            </th>
            <th>
                Total amount
            </th>
            <th>
                Room Service
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>

            <td>
                @item.CustomerName
            </td>
            <td>
                @item.CustomerAddress
            </td>
            <td>
                @item.CustomerPhone
            </td>
            <td>
                @item.BookingFrom.ToString("dd-MM-yyy")
            </td>
            <td>
                @item.BookingTo.ToString("dd-MM-yyy")
            </td>
            <td>
                @item.RoomNumber
            </td>
            <td>
                @item.NumberOfMembers
            </td>
            <td>
                @item.TotalAmount
            </td>
            <td>
                @item.RoomService
            </td>
        </tr>
        }
    </tbody>
</table>